<nav class="pcoded-navbar">
    <div class="sidebar_toggle"><a href="#"><i class="icon-close icons"></i></a></div>
    <div class="pcoded-inner-navbar main-menu">
        <div class="">
            <div class="main-menu-header">
                <img class="img-80 img-radius" [src]="Imagen" alt="User-Profile-Image">
                <div class="user-details">
                    <span id="more-details">{{Nombre}}<i class="fa fa-caret-down"></i></span>
                </div>
            </div>
            <div class="main-menu-content">
                <ul>
                    <li class="more-details">
                        <a (click)="cerrarSesion()"><i class="ti-layout-sidebar-left"></i>Logout</a>
                    </li>
                </ul>
            </div>
        </div>
        <div *ngIf="permisos">
            <div class="pcoded-navigation-label">Manejo de Usuarios</div>
            <ul class="pcoded-item pcoded-left-item">
                <li class="">
                    <a (click)="cambioPestana('Home')" class="waves-effect waves-dark">
                        <span class="pcoded-micon"><i class="ti-user"></i><b>D</b></span>
                        <span class="pcoded-mtext">Manejar Usuarios</span>
                        <span class="pcoded-mcaret"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="pcoded-navigation-label">Manejo de Inventario</div>
        <ul class="pcoded-item pcoded-left-item">
            <li class="">
                <a (click)="cambioPestana('Inventarios')" class="waves-effect waves-dark">
                    <span class="pcoded-micon"><i class="ti-user"></i><b>D</b></span>
                    <span class="pcoded-mtext">Manejar Inventario</span>
                    <span class="pcoded-mcaret"></span>
                </a>
            </li>
        </ul>
    </div>
</nav>